<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href='{% static "css/login.css" %}' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body style="background-image: url({% static "img/Fondo3Login.jpg" %});
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;">
    <main>
        <div class="Cont_Login">
            <div class="Cont_Data">
                <div class="Conth1">
                    <h1>LOGIN</h1>
                </div>
                <form action="Login" method="POST">
                    {% csrf_token %}
                    <div class='Cont_Datasd'>
                        <label>Nombre de usuario</label>
                        <input type="text" name="nombreUsuario" required>
                    </div>
                    <div class='Cont_Datasd'>
                        <label>Contraseña</label>
                        <input type="password" name="contraseña" required>
                    </div>
                    <p class="formp">¿Olvidaste tu Contraseña?<a style="color: orange;" href="">Recuperar</a></p>
                    <button class='DesignButton' type="submit"><strong>Iniciar Sesion</strong></button>
                </form>
                <p class="formp">¿No posees una cuenta?<a href="{% url 'registro' %}" style="color: orange;">Crea Una cuenta</a></p>
                <div class="DesignLine">
                    <div class="line">
                    </div>
                    <h5>O</h5>
                    <div class="line">
                    </div>
                </div>
            </div>
            <div class="Cont_Info">
                <img src="{% static "img/Front_img.jpg" %}">
            </div>
        </div>
    </main>
    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    icon: '{{ message.tags }}',
                    title: '{{ message }}',
                    showConfirmButton: false,
                    timer: 1500
                });
            {% endfor %}
        {% endif %}
    </script>
</body>
</html>